body{
    background-color: #f3f5fc;
}
main{
    display: flex;
    justify-content: space-between;
    margin-top: 0px;
    
}
header img{
    width: 120px;
    height: 48px;
    margin-top: 20px;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    height: 85dvh;      
   margin-left: 100px;
    
}

.text-area{
    width: 577px;
    height: 288px;
    border: none;
    color: #0a3871;    
    text-transform: lowercase;
}
::placeholder { color: #0a3871; }